@nid:registry=https://lab.weave.nl/api/v4/packages/npm/
//lab.weave.nl/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}
//lab.weave.nl/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
