{
  "name": "@nid/nid-info-manager",
  "version": "{{buildid}}",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "publishConfig": {
    "@nid:registry": "https://lab.weave.nl/api/v4/projects/363/packages/npm/"
  },
  "author": "nID",
  "license": "nID",
  "dependencies": {
    "grpc-web": "1.2.1",
    "google-protobuf": "3.11.2"
  }
}
